html, body {
  background-color: rgb(0, 0, 80);
  width: 100%;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
  color: beige;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-align: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.body::-webkit-scrollbar {
  display: none;
}
@media only screen and (min-width: 576px) {
  html, body {font-size: 24px}
}
@media only screen and (min-width: 768px) {
  html, body {font-size: 28px}
}
@media only screen and (min-width: 992px) {
  html, body {font-size: 32px}
}
@media only screen and (min-width: 1200px) {
  html, body {font-size: 36px}
}

.positive {
  color: rgb(0, 255, 0);
}
.negative {
  color: rgb(255, 0, 0);
}

p {
  margin: .5rem;
}
main {
  width: 100%;
  height: 100vh;
}
input {
  font-size: .8rem;
  border-radius: 3px;
}
h1 {
  text-align: center;
  max-width: 24rem;
  font-size: 1.8rem;
  margin: .6rem auto;
  padding-top: .1rem;
  padding-bottom: .1rem;
  border: solid 4px beige;
}
h2 {
  font-size: 1.5rem;
}
header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 2.4rem;
}
.header-message {
  top: 1rem;
  font-size: 1rem;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0px 0px 0px 8px;
  text-align: left;
}
hr {
  margin-top: 0px;
  border: rgb(207, 207, 0) solid 1px;
  background-color: rgb(207, 207, 0);
}
.budget {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.averages-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.averages {
  text-align: left;
  font-size: .75rem;
  display: flex;
  flex-flow: column wrap;
}

.menu-toggle {
  background-color: rgb(0, 0, 80);
  margin-right: .4rem;
  width: 2.4rem;
  height: 2.4rem;
  border: 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.hamburger {
  background-color: rgb(207, 207, 0);
  width: 2.4rem;
  height: .25rem;
}
.menu-close {
  font-size: 2.4rem;
  line-height: 2.4rem;
  top: 0px;
  right: 0px;
  position: relative;
  left: 4.6rem;
  z-index: 9999;
}
.menu-container{
  position: absolute;
  top: 0px;
  right: 12rem;
  width: 0px;
  height: 0px;
}
.menu {
  position: absolute;
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(105, 109, 49);
  z-index: 2;
  width: 12rem;
  height: 100vh;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: 1s ease-in-out;
}
.menu-button {
  width: 100%;
  text-align: center;
  background-color: rgb(0, 185, 25);
  background-image: linear-gradient();
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  border-radius: 3px;
  border: solid 1px greenyellow;
  margin: 1rem 0px;
  z-index: inherit;
}
.main-button {
  background-color: rgb(0, 185, 25);
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  border-radius: 3px;
  border: solid 2px greenyellow;
  margin: .1rem auto 1.4rem;
}


#forgot-passphrase {
  display: none;
}
#bad-passphrase, #invalid-login {
  display: none;
  color: rgb(255, 152, 152);
  font-weight: bold;
}

.reminder {
  font-size: .9rem;
}